name: emby
version: '3.3'
services:
    emby_unlockd:
        environment:
            - PUID=1026
            - PGID=100
            - GIDLIST=100
            - HTTP_PROXY=http://192.168.100.225:7890
            - HTTPS_PROXY=http://192.168.100.225:7890
        volumes:
            - '/volume1/Data:/Data'
            - '/volume1/video:/video'
            - '/volume1/docker/emby/config:/config'
        devices:
            - /dev/dri:/dev/dri
        ports:
            - '8097:8096'
            - '8921:8920'
        container_name: emby
        image: 'xinjiawei1/emby_unlockd:latest'
        restart: always

