version: "3"
services:
  ani-rss:
    container_name: ani-rss
    volumes:
      - /volume1/docker/ani-rss/config:/config
      - /volume1/Data:/Data
    ports:
      - 7789:7789
    environment:
      - PORT=7789
      - CONFIG=/config
      - TZ=Asia/Shanghai
      - HTTP_PROXY=http://192.168.100.225:7890
      - HTTPS_PROXY=http://192.168.100.225:7890
    restart: always
    image: wushuo894/ani-rss
    